extends layout

block content
    -data = data || {}

    if errors
        ul.my-errors
            for error in errors
                li= error.msg

    li.nav-item
        a.nav-link(href='/home') Atrás 

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    

    form(action="/cambiar", method="POST" class="form-registration")

        label(for="username") Nombre de usuario:
        input(
            type="text"
            id="username"
            name="username"
            required
            class="form-control"
            value=data.username 
        )

        
        label(for="password") Nueva contraseña:
        input(
            type="password"
            id="password"
            name="password"
            required
            class="form-control"
            value=data.password
        )

        label(for="confirmPassword") Confirmar contraseña:
        input(
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
            class="form-control"
            value=data.password
        )
        
        
        input(type="submit" value="Actualizar" class="btn-lg btn-primary btn-block")
